/* Header Css File */

.activeClass{
	text-decoration: none;
	
color: var(--primaryColor);

}

.inActiveClass{
	text-decoration: none;
	color: var(--textColor);
}

.headerButton{
	background-image: linear-gradient(90deg,var(--primaryColor),var(--primaryDarkColor));
	padding:0.5rem 1.5rem;

	border-radius: 2rem;
}