/* Root Css File
Contains body and margin global styles */

.mainContainer{
	background-color:#181d2b ;
	max-width: 1440px;
margin-right: auto;
margin-left: auto;
}

.flex{
	display: flex;
}
.flex-row{
	flex-direction: row;
}
.flex-col{
	flex-direction: column;
}
.flex-row-reverse{
	flex-direction: row-reverse;
}
.flex-col-reverse{
	flex-direction: column-reverse;
}
/* justify content */
.justify-center{
	justify-content: center;
}
.justify-baseline{
	justify-content:baseline;
}
.justify-end{
	justify-content:flex-end;
}
.justify-start{
	justify-content:flex-start;
}
.justify-around{
	justify-content:space-around;
}
.justify-between{
	justify-content:space-between;
}

/* align content */
.align-center{
	align-items: center;
}
.align-baseline{
	align-items:baseline;
}
.align-end{
	align-items:flex-end;
}
.align-start{
	align-items:flex-start;
}
.align-around{
	align-items:space-around;
}
.align-between{
	align-items:space-between;
}


/* gap */
.gap-1{
	gap: 1rem;
}


/* Padding */

.ph-2{
	padding-left: 2rem;
	padding-right: 2rem;
}